<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Where's Waldo?</title>
	<link href="styles.css" rel="stylesheet">
	<script src="scripts.js" type="text/javascript">
	</script>
</head>
<body>
	<h1>Where's Waldo?</h1><br>
	<p><time>00:00:00</time></p>
	<h2>Find Waldo and Click before he escapes!</h2>
	<div class="gameWindow"><img id="picture" src="images/waldo-picture.jpg"></div>
		


	<div id="modal" style="display: none">
		<div id="modalcontent" style="display: none">
			<div id="modalTimer">
				<p></p>
			</div>
			<div id="modalMessage">
				<p>Thanks for playing!</p>
			</div>
		</div>
	</div>
		



</body>
</html>